body{
  background: linear-gradient(to top,#3B4AFF, #40BBFF) no-repeat center center fixed; /*UTILIZA A COR LINEARMENTE APLICANDO O GRADIENTE EM TODA A PAGINA SEM REPETIÇÕES NO CENTRO*/
  height: 100%;
}

#imagemFundo{ /*IMAGEM DO SEBRAE NO FUNDO DA PAGINA*/
  position: fixed;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-34%);
  width: 780px;
  height: 340px;
  z-index: -1;
  opacity: 80%;
}


#fechar{ /* BOTÃO FECHAR DO CANVAS*/ 
  background-color: transparent;
  border: 0px;
  font-size: 28px;
  float: right;
  margin-right: 8px;
  margin-top: -5px;
  transition: transform 0.5s ease;
}

#abrir{ /* BOTÃO ABRIR DO CANVAS*/
  background-color: transparent;
  border: 0px;
  font-size: 28px;
  float: left;
  position: absolute;
  z-index: 1;
  transition: transform 0.5s ease;
}

#abrir:hover{ /*EFEITO HOVER NO BOTÃO ABRIR*/
  transform: scale(1.2);
}

#fechar:hover{ /*EFEITO HOVER NO BOTÃO FECHAR*/
  transform: scale(1.2);
}

.container:hover{
  transform: scale(1.2);
}

.menu{ /* MENU/OFFCANVAS */
  position: relative;
  margin-left: -310px;
  width: 310px;
  min-height: 100vh;
  background-color: grey;
  border: solid 2px;
  vertical-align: top;
  transition: margin-left 1.5s ease-in-out;
  display: inline-block;
  z-index: 2;
}

.container{
  opacity: 60%;
  transition: transform 1s ease ;
}


.container-carrossel{/*CONTAINER GERAL DO CARROSSEL*/
  border: solid;
  display: flex;
  width: 77vw;
  height: 100vh;
  float: right;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}

#triangulo{
transition: 2s ease;
}

.containerss{ /*CONTAINER DENTRO DO CONTAINER GERAL*/
    width: 100%;
}
.container-geral{/*CONTAINER GERAL DOS SLIDES*/
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: -16px;
    width: auto;
    vertical-align: top;
}

.carousel-item{/*fundo dos itens dentro do carrossel do bootstrap*/
  background-color: white;
  height: 99vh;
}
.carousel-item .active{ /*formatando a altura do item dentro do carrossel do bootstrap*/
 height: 99vh;
}
/*CONFIG TEXTO MENU*/
#texto1{
  margin-left: 89px;
  position: fixed;
  color: white;
}
#texto2{
  margin-left: 89px;
  position: fixed;
  color: white;
}
#texto3{
  margin-left: 79px;
  position: fixed;
  color: white;
}
#texto5{
  margin-left: 89px;
  position: fixed;
  color: white;
}
#texto6{
  margin-left: 21px;
  position: fixed;
  color: white;  
}
#texto7{
  position: fixed;
  margin: auto;
  margin-left: 79px;
  color: white;
}
#texto8{
  position: fixed;
  margin: auto;
  margin-left: 79px;
  color: white;
}
#texto9{
  position: fixed;
  margin-left: 79px;
  color: white;
}
  
/*CONFIG TEXTO MENU*/

  #indicador { /*ID DE INDICADOR NO MENU*/
    position: relative;
    width: 298px; /* Largura da div */
    height: 50px; /* Altura da div */
    overflow: hidden;
  }
  /*DEFININDO ESPECIFICAÇÃO PARA ATIVAÇÃO DA BARRA DE PROGRESSO*/
  .menu .active {
    top: 0;
    left: 0;
    height: 100%;
    color: #84F4BC; /* Cor da barra de progresso */
    transform: scale(1.2);
    opacity: 100%;
    transition: transform 0.8s ease;
  }
  
  @keyframes grow {/*USADO PARA FAZER A BARRA DE PROGRESSO*/
    0% {
      width: 0; /* Largura inicial da barra de progresso */
    }
    100% {
      width: 100%; /* Largura final da barra de progresso */
    }
  }

  /* CSS */

  /*LARGURA E PARAMETROS DA DIV DENTRO DO SLIDE*/
  .informacao1{
    border: solid;
    border-radius: 60px;
    width: 1800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    margin-top: 10px;

  }
  .info2{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: auto;
    margin-left: 25px;
    float: left;
    margin-top: -14px;
}
  .info2 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .info3{
    border: solid;
    width: 1250px;
    border-radius: 60px;
    height: auto;
    margin-top: -14px;
    display: inline-block;
    margin-left: 20px;
  }

  .info3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info3 p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
  }
  .info4{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: auto;
    margin-right: 30px;
    float: right;
    margin-top: -9px;
}
  .info4 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /*LARGURA E PARAMETROS DA DIV DENTRO DO SLIDE*/

  /*TEXTO DE FORMATAÇÃO DENTRO DO SLIDE*/
  #texto{
    margin: 10px;
  }
  
  .carousel-item img{/*DEFINIÇÃO DAS PROPRIEDADES DAS IMAGENS*/
    width: 1400px;
    height: 100vh;
  }
  


  /*PARA TELAS COM MENOS DE 1600PX (NOTEBOOKS, DESKTOPS ETC)*/
@media screen and (max-width:1600px) {
  body{
    background: linear-gradient(to top,#3B4AFF, #40BBFF) no-repeat center center fixed; /*UTILIZA A COR LINEARMENTE APLICANDO O GRADIENTE EM TODA A PAGINA SEM REPETIÇÕES NO CENTRO*/
    height: 100%;
  }
  
  #imagemFundo{ /*IMAGEM DO SEBRAE NO FUNDO DA PAGINA*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-34%);
    width: 780px;
    height: 340px;
    z-index: -1;
    opacity: 80%;
  }
  
  #ocultos{
  transform: translateY(-100%);
  transition: transform 1s ease-in;
  display: none;
  }

  #fechar{ /* BOTÃO FECHAR DO CANVAS*/ 
    background-color: transparent;
    border: 0px;
    font-size: 28px;
    float: right;
    margin-right: 8px;
    margin-top: -5px;
    transition: transform 0.5s ease;
  }
  
  #abrir{ /* BOTÃO ABRIR DO CANVAS*/
    background-color: transparent;
    border: 0px;
    font-size: 28px;
    float: left;
    position: absolute;
    z-index: 1;
    transition: transform 1s ease-in;
  }
  
  #abrir:hover{ /*EFEITO HOVER NO BOTÃO ABRIR*/
    transform: scale(1.2);
  }
  
  #fechar:hover{ /*EFEITO HOVER NO BOTÃO FECHAR*/
    transform: scale(1.2);
  }
  
  .container:hover{
    transform: scale(1.2);
  }
  
  .menu{ /* MENU/OFFCANVAS */
    position: relative;
    margin-left: -510px;
    min-width: 21vw;
    min-height: 100vh;
    background-color: grey;
    border: solid 2px;
    vertical-align: top;
    transition: margin-left 1.5s ease-in-out;
    display: inline-block;
    z-index: 2;
  }
  
  .container{
    opacity: 60%;
    transition: transform 1s ease;
  }
  
  .container-carrossel{/*CONTAINER GERAL DO CARROSSEL*/
    border: solid;
    display: flex;
    width: 78vw;
    height: 100vh;
    float: right;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
  }
  
  #triangulo{
  transition: 2s ease;
  }
  
  .containerss{ /*CONTAINER DENTRO DO CONTAINER GERAL*/
      width: 100%;
  }
  .container-geral{/*CONTAINER GERAL DOS SLIDES*/
      display: flex;
      justify-content: center;
      position: fixed;
      margin-left: -16px;
      width: auto;
      vertical-align: top;
  }
  
  .carousel-item{/*fundo dos itens dentro do carrossel do bootstrap*/
    background-color: white;
    height: 99vh;
  }
  .carousel-item .active{ /*formatando a altura do item dentro do carrossel do bootstrap*/
   height: 99vh;
  }
  /*CONFIG TEXTO MENU*/
  #texto1{
    margin-left: 89px;
    position: fixed;
    color: white;
  }
  #texto2{
    margin-left: 89px;
    position: fixed;
    color: white;
  }
  #texto3{
    margin-left: 79px;
    position: fixed;
    color: white;
  }
  #texto5{
    margin-left: 89px;
    position: fixed;
    color: white;
  }
  #texto6{
    margin-left: 21px;
    position: fixed;
    color: white;  
  }
  #texto7{
    position: fixed;
    margin: auto;
    margin-left: 79px;
    color: white;
  }
  #texto8{
    position: fixed;
    margin: auto;
    margin-left: 79px;
    color: white;
  }
  #texto9{
    position: fixed;
    margin-left: 79px;
    color: white;
  }
    
  /*CONFIG TEXTO MENU*/
  
    #indicador { /*ID DE INDICADOR NO MENU*/
      position: relative;
      width: 298px; /* Largura da div */
      height: 50px; /* Altura da div */
      overflow: hidden;
    }
    /*DEFININDO ESPECIFICAÇÃO PARA ATIVAÇÃO DA BARRA DE PROGRESSO*/
    .menu .active {
      top: 0;
      left: 0;
      height: 100%;
      color: #84F4BC; /* Cor da barra de progresso */
      transform: scale(1.2);
      opacity: 100%;
      transition: transform 0.8s ease;
    }
    
    @keyframes grow {/*USADO PARA FAZER A BARRA DE PROGRESSO*/
      0% {
        width: 0; /* Largura inicial da barra de progresso */
      }
      100% {
        width: 100%; /* Largura final da barra de progresso */
      }
    }
  
    /* CSS */
  
    /*LARGURA E PARAMETROS DA DIV DENTRO DO SLIDE*/
    .informacao1{
      border: solid;
      border-radius: 60px;
      width: 1160px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin:auto;
      margin-top: 10px;
  
    }
    .info2{
      border: solid;
      width: 250px;
      border-radius: 60px;
      height: 500px;
      margin-left: 25px;
      float: left;
      margin-top: -14px;
  }
    .info2 h5{
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info2 p{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .info3{
      border: solid;
      width: 700px;
      border-radius: 60px;
      height: 500px;
      margin-top: -14px;
      display: inline-block;
      margin-left: 20px;
    }
  
    .info3 h1{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info3 p{
      display: flex;
      justify-content: center;
      text-align: center;
      margin:auto;
    }
    .info4{
      border: solid;
      width: 250px;
      border-radius: 60px;
      height: auto;
      margin-right: 30px;
      float: right;
      margin-top: -9px;
  }
    .info4 h5{
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info4 p{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    /*LARGURA E PARAMETROS DA DIV DENTRO DO SLIDE*/
  
    /*TEXTO DE FORMATAÇÃO DENTRO DO SLIDE*/
    #texto{
      margin: 10px;
    }
    
    .carousel-item img{/*DEFINIÇÃO DAS PROPRIEDADES DAS IMAGENS*/
      width: 1400px;
      height: 100vh;
    }
    
  
}