.container {
    border: solid;
    width: 298px;
    height:50px;
    transform: skew(-30deg);   
    display: inline-block;
    vertical-align: top;
    border-color: rgb(0, 94, 184);
    margin-top: -3px;
    margin-left: -2px;
}
.container2 {
    border: solid;
    display: inline-block;
    width: fit-content;
    transform: skew(-30deg);   
    margin-left: -30px;
    margin-right: 20px;
    background-color: rgb(146,133, 249);
    border-color: rgb(0, 94, 184);
}
.container2 img{
    transform: skew(30deg);
    width: 200px; height: 110px;
}
.container-carrossel{
    border: solid;
    width: 1850px;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.containerss{
    width: 100%;
}
.container-geral{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: -19px;
}
.container h5 {
    margin: 0;
    transform: skew(20deg);
    color: rgb(0, 94, 184);
    margin-top: 10px;
}

.carousel-indicators {/*INDICADORES*/
    bottom: 10px;
    margin-bottom: 0;
    display: flex; /* Remove a margem padrão do Bootstrap */
  }

  .carousel-indicators li {/*INDICADORES BACKGROUND*/
    background-color: #9285F9; /* Cor de fundo do indicador ativo */
    width: 50px; /* Largura do indicador */
    height: 10px; /* Altura do indicador */
    border: solid;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  #indicador{
    position: relative;
    width: 50px; /* Largura do indicador */
    height: 10px; /* Altura do indicador */
    margin: 0 5px; /* Margem entre indicadores */
    overflow: hidden;
  }

  .carousel-indicators .active {/*INDICADORES QUANDO ATIVOS*/
    background-color: #9285f9; /* Cor de fundo do indicador ativo */
     /* Cor da borda do indicador ativo */
    border-radius: 20px;
    border: solid;
  }
  .carousel-indicators .active .progresso{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #84F4BC; /* Cor da barra de progresso */
    animation: grow 5s ease-in-out infinite; /* Animação de crescimento */
    transform-origin: left center; /* Ponto de origem da transformação */
  }
  .indicador.active .progresso {
    animation-play-state: paused; /* Pausar a animação quando o indicador está ativo */
  }

  @keyframes grow {
    0% {
      width: 0; /* Largura inicial da barra de progresso */
    }
    100% {
      width: 100%; /* Largura final da barra de progresso */
    }
  }

  .informacao1{
    border: solid;
    border-radius: 60px;
    width: 1800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    margin-top: 10px;

  }
  .info2{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: auto;
    margin-left: 25px;
    float: left;
    margin-top: -14px;
}
  .info2 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .info3{
    border: solid;
    width: 1250px;
    border-radius: 60px;
    height: auto;
    margin-top: -14px;
    display: inline-block;
    margin-left: 20px;
  }
  .info3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info3 p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
  }
  .info4{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: auto;
    margin-right: 30px;
    float: right;
    margin-top: -9px;
}
  .info4 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #texto{
    margin: 10px;
  }

  .carousel-item img{
    width: 1400px;height: 794px;
  }
@media screen and (max-width:1600px) {
  /*MENU*/
  .container {
    border: solid ;
    width: 208px;
    height:40px;
    transform: skew(-30deg);   
    display: inline-block;
    vertical-align: top;
    border-color: rgb(0, 94, 184);
    margin-top: -3px;
    margin-left: -3px;
}
.container h5{
  font-size: 15px;
}
.container2 {
    border: solid;
    display: inline-block;
    width: fit-content;
    transform: skew(-30deg);   
    margin-left: -30px;
    margin-right: 20px;
    background-color: rgb(146,133, 249);
    border-color: rgb(0, 94, 184);
}
.container2 img{
    transform: skew(30deg);
    width: 180px; height: 100px;
}
  /*MENU*/

.container-carrossel{
    border: solid;
    width: 1340px;
    height: 490px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.containerss{
    width: 100%;
}
.container-geral{
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: -19px;
}
.container h5 {
    margin: 0;
    transform: skew(20deg);
    color: rgb(0, 94, 184);
    margin-top: 10px;
}

.carousel-indicators {/*INDICADORES*/
    bottom: 10px;
    margin-bottom: 0; /* Remove a margem padrão do Bootstrap */
  }

  .carousel-indicators li {/*INDICADORES BACKGROUND*/
    background-color: #9285F9; /* Cor de fundo do indicador ativo */
    width: 50px; /* Largura do indicador */
    height: 10px; /* Altura do indicador */
    border: solid;
    border-radius: 20px;
    transition: width 1s ease;
    z-index: 1;
    position: absolute;
  }

  .carousel-indicators .active {/*INDICADORES QUANDO ATIVOS*/
    background-color: #9285F9; /* Cor de fundo do indicador ativo */
    border-color: solid; /* Cor da borda do indicador ativo */
    border-radius: 20px;
    position: absolute;
    transition: width 1s ease, background-color 1s ease;
    z-index: 2;
  }

  .informacao1{
    border: solid;
    border-radius: 60px;
    width: 1320px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:auto;
    margin-top: 10px;

  }
  .info2{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: 330px;
    margin-left: 25px;
    float: left;
    margin-top: -21px;
}
  .info2 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info2 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
  .info3{
    border: solid;
    width: 750px;
    border-radius: 60px;
    height: 320px;
    margin-top: -14px;
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    overflow: hidden;
  }
  .info3:hover{
    overflow: auto;
  }
  .info3::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
    height: 10px;
    }
  .info3::-webkit-scrollbar-button{
    height: 40px;

  }
  .info3::-webkit-scrollbar-thumb{
    border-radius: 40px;
    background-color: #9285F9;
  }
  .info3 h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info3 p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
  }
  .info4{
    border: solid;
    width: 250px;
    border-radius: 60px;
    height: 320px;
    margin-right: 30px;
    float: right;
    margin-top: -14px;
}
  .info4 h5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
  #texto{
    margin: 15px;
  }
  
  .carousel-item img{
    width: 1400px;height: 485px;
  }
}